* {
  box-sizing: border-box;
}

h1 {
  font-family: Lobster;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: #ffffff;
  text-align: center;
}

body {
  background: linear-gradient(to bottom, #615dad, #ffc8da);
  height: 100vh;
  margin: 0;
  max-width: 80vmin;
}

.ikony {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 10px;
  color: #ffffff;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: stretch;
}
